[submodule "externals/cxxopts"]
	path = externals/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "externals/Catch2"]
	path = externals/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "externals/fmt"]
	path = externals/fmt
	url = https://github.com/fmtlib/fmt.git
